<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <connectionStrings>
    <add name="Inventory" connectionString="Data Source=Data\Inventory.db" providerName="SQLite" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
  </startup>
</configuration>